.NewTodoForm {
    padding: var(--padding);
    padding-right: 0;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: auto 4rem;
    width: 100%;
}

.NewTodoForm input {
    font-size: var(--font-size);
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
}

.NewTodoForm button {
    font-size: var(--font-size);
    border: none;
    background-color: transparent;
    transition: all 0.2s;
}

.NewTodoForm button:hover {
    transform: scale(1.05);
}