.NewTodoForm {
    padding: 1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto 4rem;
}

.NewTodoForm input {
    font-size: 1.5rem;
    width: 100%;
    border: none;
    border-bottom: inset;
}

.NewTodoForm button {
    font-size: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}